<h1 class="mb-4">Edit question</h1>

<!-- Когда есть повторяющиеся страницы или элементы страниц, то их можно объеденить и рендерить с
помощью специальных partial представлений. Можно указывать файлы из других директорий: <directory_name>/_<file_name>-->
<%= render 'form' %>