<!-- Указываем, в какой yield нам надо вывести -->
<% provide :main_menu do%>
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <!--Добавили навигацию для всех страниц-->
      <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <!--Для ссылок будем использовать именованные ссылки ruby on rails-->
          <!--Каждый маршрут имеет название, которое можно посмотреть в консоли командой 'rails routes' в столбце Prefix + '_path'-->
          <li><%= nav_tab 'Home', root_path,
                          class: 'nav-link px-2',
                          current_page: current_page %></li>
          <li><%= nav_tab 'Questions', questions_path,
                          class: 'nav-link px-2',
                          current_page: current_page %></li>
        </ul>
      </nav>
    </div>
  </header>
<% end %>