<h1>Welcome to AskIt!</h1>

<%# Комментарии обозначаются так
    '&copy;' - спецсимвол копирайта.

    Заголовки беруться из базовой страницы, которая лежит в layouts -> application.html.erb

    Если после знака % не казать =, то код отработает, но нигде не отобразится на странице
%>

&copy; @yeskela-vomarba <%= Time.now.year %>
